<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Item
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ path('book_new') }}">Add Book</a>
        <a class="dropdown-item" href="{{ path('author_new') }}">Add Author</a>
        <a class="dropdown-item" href="{{ path('book_genre_new') }}">Add Genre</a>
    </div>
</li>